@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/* Utility Styles */



body {
   background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
   font-family: 'Kumbh Sans', sans-serif;
}

.container {
   max-width: 375px;
   height: 100vh;
   
}

.card-container {
   background: #fff;
   margin: 120px 25px 25px;
   padding: .5em; 
   border-radius: 25px;
   position: relative;
}

/* .lg-img {
   position: absolute;
   top: -115px;
  
} */

.faq-container {
   margin-top: 15px;
   position: relative;
   bottom: 80px;
}
.faq-container #faq-heading{
   text-align: center;
   font-weight: 700;
}

.faq-container .btn {
   border: 0;
}

#mobile-desk {
   position: relative;
   top: -115px;  
}

#mobile-shadow{
   position: absolute;
   top: 2px;
   left: 35px;
}